#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

#body {
    background-color: black;
}

.square {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: f0f0f0;
    cursor: pointer;
    border: 2px solid black;
    font-size: 10rem;
    align-items: center;
    user-select: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;


}

h1 {
    font-family: American Typewriter, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: Bold;
}

.disclaimer {
    background-color: white;
    padding: 10px;
    font-family: Helvetica, sans-serif;
    margin-top: 30px;

}

.disclaimer h2 {
    margin-top: 0;
    font-size: 1.5rem;

}

.disclaimer p {
    margin: 0;
    font-size: 1rem;
    

}