#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

#body {
    background-color: black;
}

#game {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}



.square {
    display: flex;
    width: 120px;
    height: 120px;
    background-color: f0f0f0;
    cursor: pointer;
    border: 2px solid black;
    font-size: 7rem;
    align-items: center;
    user-select: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 8px;

}

h1 {
    font-family: American Typewriter, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: Bold;
}

#resetButton {
    display: flex;
    justify-content: center;
}

.button {
    height: 75px;
    width: 150px;
    border-radius: 18px;
    font-family: American Typewriter, sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;

}

.disclaimer {
    padding: 10px;
    font-family: Courier New, monospace;
}

.disclaimer h2 {
    margin-top: 0;
    font-size: 1.5rem;

}

.disclaimer p {
    margin: 0;
    font-size: 1rem;
    
}

h3 {
    text-align: center;
    font-family: Courier New, monospace;
    font-size: 2rem;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.5);
    display: inline-block;
    justify-content: center;
    border-radius: 24px;
    
}