#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

#body {
    background-color: black;
}

#game {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.board, .square {
    width: 50%;
}

.board {
    width: 60px;
    height: 60px;
}

.square {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: f0f0f0;
    cursor: pointer;
    border: 2px solid black;
    font-size: 10rem;
    align-items: center;
    user-select: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

h1 {
    font-family: American Typewriter, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: Bold;
}

.disclaimer {
    padding: 10px;
    font-family: Helvetica, sans-serif;
}

.disclaimer h2 {
    margin-top: 0;
    font-size: 1.5rem;

}

.disclaimer p {
    margin: 0;
    font-size: 1rem;
    
}

#Scoreboard {

    display: flex;
    justify-content: space-between;
    
}


.leftBoard {
    display: flex;
    width: 200px;
    height: 150px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
    margin: 50px;
    border-radius: 10px;
}

.rightBoard {
    display: flex;
    width: 150px;
    margin: 50px;
    height: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
}

